.courses {
  min-width: 250px;
  padding: 23px 30px 23px 20px;
  margin-bottom: 22px;
  margin-right: 24px;
  color: rgba(74, 74, 74, 0.4);
  background-color: #ffffff;
  border-radius: 10px;
}

.courses__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.courses__title {
  margin: 0 0 20px 0;
  font-weight: 400;
}

.course__title {
  margin: 0;
  color: rgba(74, 74, 74, 0.7);
}

.course__start {
  margin: 0;
}