
.breadcrumbs {
  margin: 25px 0 23px 0;
  padding: 0 0 7px 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  background-image: linear-gradient(to bottom, #fff, #d9d9d9);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
}

.breadcrumbs__link {
  color: rgba(74, 74, 74, 0.6);
  text-decoration: none;
}

.breadcrumbs-current {
  padding: 8px;
  color: #4a90e2;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #fff, #4a90e2);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
}