.progress {
  min-width: 250px;
  padding: 26px 22px 22px 22px;
  margin-bottom: 22px;
  margin-right: 24px;
  color: rgba(74, 74, 74, 0.4);
  background-color: #ffffff;
  border-radius: 10px;
}

.progress__title {
  margin: 0;
}

.progress__statistics {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.progress-diagram__legend {
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
}

.legend__score {
  color: rgba(74, 74, 74, 0.9);
}

.diagram {
  position: relative;
  text-align: center;
  width: 83px;
  height: 83px;
  font-size: 34px;
  border: 6px solid #92bced;
  border-top: 6px solid #ffffff;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.diagram::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  top: -3px;
  left: -3px;
  width: 87px;
  height: 87px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(74, 74, 74, 0.4);
}

.diagram-inner {
  position: absolute;
  display: block;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.days-left {
  margin: 0;
  font-size: 13px;
}